.modal {
  width: 560px;
  border-radius: 10px;
  background-color: white;
  color: #191919;
  padding: 56px;
  position: relative;
  z-index: 1;
}

.modalBackground {
  background-color: rgba(0, 0, 0, 0.5);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.modalBody {
    font: "Roboto", sans-serif;;
    font-weight: 500;
    font-size: 16px;
    color: #7F7F7F;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: 64px;

    &p {
      display: flex;
    } 
}

.img {
    width: 276px;
    height: 140px;
    background-color: #D9D9D9;
    margin-bottom: 85px;
  }

  .modalHeader {
    font: "Inter", sans-serif;;
    color: #191919;
    font-weight: 400;
    font-size: 32px;
    text-align: center;
    margin: 0px 0px 42px 0px;
  }

  .modalWrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .modalClose {
    position: absolute;
    top: 20px;
    right: 20px;
    border: none;
    background: transparent;
    font-size: 22px;
    cursor: pointer;
}

.modalFooter {
    display: flex;  
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    gap: 64px;
}

.firstBtn {
  border-radius: 8px;
  color: #FFFFFF;
  background-color: #8A33FD;
  border: none;
  padding: 14px 51px;
}

.secondBtn {
  border-radius: 8px;
  color: #8A33FD;
  background-color: #FFFF;
  padding: 14px 51px;
  border: 1px solid #3C4242;
}

#root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100wh;
}

.containerButton {
  margin: 10px;
  display: flex;
  justify-content: center;
  gap: 20px;
}